# 출/퇴근 시간 붐비는 역에 대한 분석

## 분석을 위해 필요한 데이터

1. 출근시간 07~09 시 사이에 하차 하는 역별 이용객수 정보
2. 퇴근시간 18~20 시 사이에 승차 하는 역별 이용객수 정보
3. 토요일과 일요일은 제외해야 함

In [1]:
import pandas as pd

In [2]:
#승하차인원 csv파일 읽기
data= pd.read_csv('./data2/부산교통공사 시간대별 승하차인원 (2018년).csv',engine='python')  #한글파일 csv인 경우 engin옵션 필요

In [3]:
#컬럼 일괄 변경 
data.columns = ['년월일', '역번호', '역명', '구분', '1시', '2시', '3시', '4시', '5시','6시', '7시', '8시', '9시', '10시', '11시', '12시','13시', '14시', '15시', '16시', '17시', '18시','19시', '20시', '21시', '22시', '23시', '24시']

data.columns

Index(['년월일', '역번호', '역명', '구분', '1시', '2시', '3시', '4시', '5시', '6시', '7시',
       '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시',
       '18시', '19시', '20시', '21시', '22시', '23시', '24시'],
      dtype='object')

In [4]:
data.head()

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20180101,95,다대포해수욕장,승차,0,0,0,12,37,63,...,430,361,398,221,129,110,87,59,12,6
1,20180101,95,다대포해수욕장,하차,12,7,0,1,53,1392,...,286,294,319,182,179,139,134,89,76,48
2,20180101,96,다대포항,승차,1,1,0,4,44,70,...,182,179,165,129,90,63,54,27,11,2
3,20180101,96,다대포항,하차,11,1,0,0,11,62,...,186,193,191,198,155,143,128,115,68,42
4,20180101,97,낫개,승차,1,1,0,9,78,159,...,248,274,250,171,146,61,78,65,22,1

In [5]:
#datatype변경 년월일:to_datetime  역번호: astype('str')
data['년월일']=data['년월일'].astype('str')  # int -> str변환후 날짜 변환해야 함
data['년월일']=pd.to_datetime(data['년월일'])
data['역번호']=data['역번호'].astype('str')

In [6]:
data.tail()

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
81755,2018-12-31,412,동부산대,하차,16,3,0,2,3,37,...,239,272,308,266,185,117,95,89,85,50
81756,2018-12-31,413,고 촌,승차,0,0,0,3,16,23,...,49,46,55,37,17,14,14,16,9,0
81757,2018-12-31,413,고 촌,하차,0,1,0,0,0,23,...,43,33,43,53,35,20,17,16,8,4
81758,2018-12-31,414,안 평,승차,0,0,0,2,34,55,...,144,148,153,159,63,43,55,25,9,3
81759,2018-12-31,414,안 평,하차,7,0,0,0,3,46,...,124,172,147,222,126,77,75,64,42,23

### 데이터 정제 작업

In [7]:
##역명의 양쪽공백 문자 제거 
data['역명'] = data['역명'].str.strip()
##역명의 중간 공백 문자 제거
data['역명'] = data['역명'].str.replace(" ","")

In [8]:
data.head()

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2018-01-01,95,다대포해수욕장,승차,0,0,0,12,37,63,...,430,361,398,221,129,110,87,59,12,6
1,2018-01-01,95,다대포해수욕장,하차,12,7,0,1,53,1392,...,286,294,319,182,179,139,134,89,76,48
2,2018-01-01,96,다대포항,승차,1,1,0,4,44,70,...,182,179,165,129,90,63,54,27,11,2
3,2018-01-01,96,다대포항,하차,11,1,0,0,11,62,...,186,193,191,198,155,143,128,115,68,42
4,2018-01-01,97,낫개,승차,1,1,0,9,78,159,...,248,274,250,171,146,61,78,65,22,1

In [9]:
#데이터 검증 역별로 데이터건수가 동일한지 체크해보자
#df.groupby(['년월일','역번호','역명'])['합계'].mean()
d_check =pd.DataFrame(data.groupby(['역번호','역명','구분'])['년월일'].count())
d_check=d_check.reset_index()
d_check.head()
#년월일 갯수가 365가 아닌 역 체크해보자

   역번호  역명  구분  년월일
0  100  동매  승차  365
1  100  동매  하차  365
2  101  신평  승차  365
3  101  신평  하차  365
4  102  하단  승차  365

In [10]:
#역번호가 같은경우 역통합이 필요함 : 
#서면 -> 1서면 : 119
#연산 -> 1연산 : 123
#동래 -> 1동래 : 125
#서면 -> 2서면 : 219
#덕천 -> 2덕천 : 233
#연산 -> 3연산 : 305
#덕천 -> 3덕천 : 313
#동래 -> 4동래 : 402

#역번호 오류 추정 수안역
#7 -> 403  : 수안역

d_check[d_check['년월일']<365]

     역번호   역명  구분  년월일
38   119  1서면  승차  153
39   119  1서면  하차  153
40   119   서면  승차  212
41   119   서면  하차  212
48   123  1연산  승차  153
49   123  1연산  하차  153
50   123   연산  승차  212
51   123   연산  하차  212
54   125  1동래  승차  153
55   125  1동래  하차  153
56   125   동래  승차  212
57   125   동래  하차  212
112  219  2서면  승차  153
113  219  2서면  하차  153
114  219   서면  승차  212
115  219   서면  하차  212
142  233  2덕천  승차  153
143  233  2덕천  하차  153
144  233   덕천  승차  212
145  233   덕천  하차  212
172  305  3연산  승차  153
173  305  3연산  하차  153
174  305   연산  승차  212
175  305   연산  하차  212
190  313  3덕천  승차  153
191  313  3덕천  하차  153
192  313   덕천  승차  212
193  313   덕천  하차  212
202  402  4동래  승차  153
203  402  4동래  하차  153
204  402   동래  승차  212
205  402   동래  하차  212
206  403   수안  승차  362
230    7   수안  승차    3

In [11]:
len(data[data['역번호']=='119']) #730

730

In [12]:
# 역번호 119 이면서 역이름 서면 인건 --> 1서면으로 변경 필요 데이터  :424
len(data[(data['역번호']=='119') & (data['역명']=='서면')])

424

In [13]:
# apply() 함수로 데이터를 변경해볼까?
# 역번호 역명 기준으로 가져온  수정할대상을 가져와서 원하는 역명으로 수정  전체 데이터 작업이라 오래 걸린다.
data['역명'] = data.apply(lambda x : '1서면' if (x.역번호=='119') & (x.역명=='서면') else x.역명  , axis=1 )

In [14]:
data[data['역번호']=='119']

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
48,2018-01-01,119,1서면,승차,7,0,0,22,1053,1070,...,2177,2383,2429,2255,1926,1781,1754,1582,1076,16
49,2018-01-01,119,1서면,하차,54,0,0,1,154,192,...,2614,2402,2494,2026,1455,1059,772,610,348,157
272,2018-01-02,119,1서면,승차,4,0,0,10,362,432,...,3372,3846,3984,4462,3018,2576,2413,2274,1502,22
273,2018-01-02,119,1서면,하차,0,0,0,1,159,313,...,3465,3463,3737,5024,2498,1237,873,621,353,79
496,2018-01-03,119,1서면,승차,0,0,0,5,383,421,...,3176,3792,3963,4570,2844,2729,2572,2465,1533,10
497,2018-01-03,119,1서면,하차,0,0,0,0,179,311,...,3348,3198,3815,5362,2711,1191,964,659,386,95
720,2018-01-04,119,1서면,승차,0,0,0,4,367,435,...,3248,3782,4166,4496,3034,2773,2684,2583,1682,11
721,2018-01-04,119,1서면,하차,0,0,0,0,168,312,...,3468,3379,4058,5592,2758,1263,1043,635,379,68
944,2018-01-05,119,1서면,승차,0,0,0,6,344,367,...,3385,3917,4266,4779,3244,2654,3061,2839,2329,19
945,2018-01-05,119,1서면,하차,0,0,0,0,160,292,...,3709,3648,4337,6685,3903,1853,1490,919,599,131
1168,2018-01-06,119,1서면,승차,0,0,0,4,516,507,...,3519,3858,4388,3710,2926,2630,2893,2709,2266,26
1169,2018-01-06,119,1서면,하차,4,0,0,0,186,301,...,4017,3890,4416,4047,2618,1806,1428,1006,598,136
1392,2018-01-07,119,1서면,승차,1,0,0,14,445,431,...,2211,2738,3019,2521,2166,2094,2132,1655,1334,9
1393,2018-01-07,119,1서면,하차,0,0,0,0,147,258,...,2949,2787,2494,2043,1315,918,848,556,373,80
1616,2018-01-08,119,1서면,승차,1,0,0,9,279,382,...,3027,3369,3463,4304,2764,2485,2375,2359,1422,17
1617,2018-01-08,119,1서면,하차,0,0,0,0,166,308,...,3048,2843,3494,5046,2334,1006,765,524,307,59
1840,2018-01-09,119,1서면,승차,3,4,3,6,301,412,...,3133,3600,4034,4382,3017,2732,2666,2508,1493,13
1841,2018-01-09,119,1서면,하차,3,9,3,2,172,320,...,3364,3110,3934,5541,2505,1201,894,583,309,74
2064,2018-01-10,119,1서면,승차,0,0,0,6,347,405,...,3272,3841,4106,4547,2999,2773,2811,2515,1447,13
2065,2018-01-10,119,1서면,하차,0,0,0,0,184,307,...,3293,3162,4153,5760,2639,1185,907,596,373,103
2288,2018-01-11,119,1서면,승차,1,0,0,5,319,369,...,3089,3651,3821,4348,2997,2995,2815,2787,1651,14
2289,2018-01-11,119,1서면,하차,0,0,0,2,150,304,...,3233,3279,3874,5914,2707,1170,913,608,314,54
2512,2018-01-12,119,1서면,승차,4,0,0,6,324,388,...,3076,3610,3873,4520,3367,2621,3158,2928,2171,17
2513,2018-01-12,119,1서면,하차,2,0,0,0,137,280,...,3119,3383,4270,6768,3719,1670,1391,889,656,111
2736,2018-01-13,119,1서면,승차,0,0,0,4,392,408,...,3584,4040,4211,3679,3133,2692,3144,2721,2224,17
2737,2018-01-13,119,1서면,하차,0,0,0,0,173,363,...,4109,3864,4444,4322,2603,1898,1459,1024,665,126
2960,2018-01-14,119,1서면,승차,0,1,0,5,416,425,...,2537,2901,3162,2919,2608,2220,2377,1834,1321,14
2961,2018-01-14,119,1서면,하차,0,0,0,0,140,265,...,3147,3197,2755,2209,1309,952,835,529,386,81
3184,2018-01-15,119,1서면,승차,0,0,0,4,319,386,...,3331,3908,3823,4430,2962,2707,2674,2565,1437,11
3185,2018-01-15,119,1서면,하차,0,0,0,0,182,310,...,3399,3396,3839,5510,2564,1147,863,561,344,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78448,2018-12-17,119,1서면,승차,1,0,0,0,273,362,...,3143,3615,3762,4227,2665,2613,2629,2184,1128,4
78449,2018-12-17,119,1서면,하차,0,0,0,0,157,309,...,3133,3167,3808,5544,2331,1106,940,616,347,84
78672,2018-12-18,119,1서면,승차,0,0,0,3,283,373,...,3212,3529,3928,4370,2808,2799,2775,2460,1322,0
78673,2018-12-18,119,1서면,하차,0,0,0,0,181,281,...,3266,3296,4197,6041,2526,1285,909,676,364,80
78896,2018-12-19,119,1서면,승차,0,0,0,10,296,388,...,3283,3611,4007,4286,2742,2721,2725,2472,1528,6
78897,2018-12-19,119,1서면,하차,0,0,0,2,156,293,...,3331,3215,4125,6028,2594,1335,911,690,447,115
79120,2018-12-20,119,1서면,승차,0,0,0,392,1716,526,...,3384,3862,4231,4459,3092,3390,3719,3873,2792,13
79121,2018-12-20,119,1서면,하차,0,0,2,3,201,337,...,3611,3724,4799,7083,3189,1549,1374,1085,703,170
79344,2018-12-21,119,1서면,승차,0,0,0,5,429,413,...,3677,3936,4302,4753,3221,3136,3356,3381,2841,23
79345,2018-12-21,119,1서면,하차,0,0,0,2,172,292,...,3842,3810,5309,7922,4283,2191,1781,1274,843,220
79568,2018-12-22,119,1서면,승차,0,0,0,17,596,508,...,3735,4446,4667,3828,3047,3227,3127,3007,2517,8
79569,2018-12-22,119,1서면,하차,0,0,0,2,175,363,...,4262,4605,5374,5056,3214,2230,1815,1320,808,175
79792,2018-12-23,119,1서면,승차,0,0,0,8,475,410,...,2836,3309,3737,3291,2745,2697,2305,2044,1548,7
79793,2018-12-23,119,1서면,하차,0,1,0,2,125,204,...,3472,3541,3349,2986,2057,1489,1224,831,413,104
80016,2018-12-24,119,1서면,승차,0,0,0,4,402,402,...,3826,4525,5132,5422,3840,3464,3070,2883,2147,2
80017,2018-12-24,119,1서면,하차,0,0,0,2,166,280,...,4089,4103,5265,6805,4720,2779,2135,1623,1054,231
80240,2018-12-25,119,1서면,승차,0,0,0,17,672,527,...,3678,4463,4727,4090,3424,3344,3102,2683,1872,3
80241,2018-12-25,119,1서면,하차,0,0,0,2,134,234,...,4321,4094,3856,3730,2650,1898,1510,1006,517,140
80464,2018-12-26,119,1서면,승차,0,0,1,6,491,490,...,3427,3872,4221,4511,3096,2844,2741,2794,1731,10
80465,2018-12-26,119,1서면,하차,0,1,0,1,215,292,...,3546,3529,4436,6209,2930,1296,1083,769,416,128
80688,2018-12-27,119,1서면,승차,0,0,0,7,327,375,...,3658,4044,4133,4469,3179,3107,3330,3024,1936,6
80689,2018-12-27,119,1서면,하차,0,0,0,2,176,315,...,3626,3612,4674,6935,2939,1430,1126,786,480,92
80912,2018-12-28,119,1서면,승차,2,0,0,4,372,404,...,3572,4047,4480,4808,3094,2916,2958,3067,2473,7
80913,2018-12-28,119,1서면,하차,2,0,0,2,154,283,...,3567,3626,4906,7128,3941,1953,1526,1047,611,141
81136,2018-12-29,119,1서면,승차,0,0,0,5,380,445,...,3383,4085,4093,3671,2686,2838,2713,2598,2170,10
81137,2018-12-29,119,1서면,하차,0,0,0,1,156,298,...,3838,4195,4483,4396,2812,1950,1560,1056,564,137
81360,2018-12-30,119,1서면,승차,0,0,0,15,406,348,...,2554,3025,3332,3010,2512,2450,2182,2149,1542,1
81361,2018-12-30,119,1서면,하차,0,0,0,1,85,144,...,3419,3228,3247,2868,2048,1414,1209,814,392,94
81584,2018-12-31,119,1서면,승차,52,0,0,2,303,344,...,3930,4571,4862,5025,3590,3069,2778,2545,1557,192
81585,2018-12-31,119,1서면,하차,201,0,0,1,163,234,...,4446,4437,4607,5798,3792,2378,2277,1760,1313,695

In [15]:
data[(data['역번호']=='119') & (data['역명']=='서면')]

Empty DataFrame
Columns: [년월일, 역번호, 역명, 구분, 1시, 2시, 3시, 4시, 5시, 6시, 7시, 8시, 9시, 10시, 11시, 12시, 13시, 14시, 15시, 16시, 17시, 18시, 19시, 20시, 21시, 22시, 23시, 24시]
Index: []

[0 rows x 28 columns]

In [16]:
#데이터 변경후 재검증 
d_check = pd.DataFrame(data.groupby(['역번호','역명','구분'])['년월일'].count())
d_check = d_check.reset_index()
#년월일 갯수가 365가 아닌 역 체크해보자
d_check[d_check['년월일']<365]

     역번호   역명  구분  년월일
46   123  1연산  승차  153
47   123  1연산  하차  153
48   123   연산  승차  212
49   123   연산  하차  212
52   125  1동래  승차  153
53   125  1동래  하차  153
54   125   동래  승차  212
55   125   동래  하차  212
110  219  2서면  승차  153
111  219  2서면  하차  153
112  219   서면  승차  212
113  219   서면  하차  212
140  233  2덕천  승차  153
141  233  2덕천  하차  153
142  233   덕천  승차  212
143  233   덕천  하차  212
170  305  3연산  승차  153
171  305  3연산  하차  153
172  305   연산  승차  212
173  305   연산  하차  212
188  313  3덕천  승차  153
189  313  3덕천  하차  153
190  313   덕천  승차  212
191  313   덕천  하차  212
200  402  4동래  승차  153
201  402  4동래  하차  153
202  402   동래  승차  212
203  402   동래  하차  212
204  403   수안  승차  362
228    7   수안  승차    3

In [17]:
# 어차피 여러건 처리해야 한다면 lambda 대신 함수를 정의하고 해볼까?
#data['역명'] = data.apply(lambda x : '1서면' if (x.역번호=='119') & (x.역명=='서면') else x.역명  , axis=1 )
#역번호가 같은경우 역통합이 필요함 : 
#서면 -> 1서면 : 119
#연산 -> 1연산 : 123
#동래 -> 1동래 : 125
#서면 -> 2서면 : 219
#덕천 -> 2덕천 : 233
#연산 -> 3연산 : 305
#덕천 -> 3덕천 : 313
#동래 -> 4동래 : 402

def dfilter(x):
    if   (x.역번호=='123') & (x.역명=='연산') : return '1연산'
    elif (x.역번호=='125') & (x.역명=='동래') : return '1동래'
    elif (x.역번호=='219') & (x.역명=='서면') : return '2서면'
    elif (x.역번호=='233') & (x.역명=='덕천') : return '2덕천'
    elif (x.역번호=='305') & (x.역명=='연산') : return '3연산'
    elif (x.역번호=='313') & (x.역명=='덕천') : return '3덕천'
    elif (x.역번호=='402') & (x.역명=='동래') : return '4동래'
    else: return x.역명

# data['역명'] = data.apply(dfilter)
data.head()

#근데 잘 안된다... 함수로 정의한게 시리즈여서 그런가? axis=1 옵션이 안들어가서 인가?
#일단 람다로 여러번 하자.

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2018-01-01,95,다대포해수욕장,승차,0,0,0,12,37,63,...,430,361,398,221,129,110,87,59,12,6
1,2018-01-01,95,다대포해수욕장,하차,12,7,0,1,53,1392,...,286,294,319,182,179,139,134,89,76,48
2,2018-01-01,96,다대포항,승차,1,1,0,4,44,70,...,182,179,165,129,90,63,54,27,11,2
3,2018-01-01,96,다대포항,하차,11,1,0,0,11,62,...,186,193,191,198,155,143,128,115,68,42
4,2018-01-01,97,낫개,승차,1,1,0,9,78,159,...,248,274,250,171,146,61,78,65,22,1

In [18]:
data['역명'] = data.apply(lambda x : '1연산' if (x.역번호=='123') & (x.역명=='연산') else x.역명  , axis=1 )

In [19]:
data['역명'] = data.apply(lambda x : '1동래' if (x.역번호=='125') & (x.역명=='동래') else x.역명  , axis=1 )

In [20]:
data['역명'] = data.apply(lambda x : '2서면' if (x.역번호=='219') & (x.역명=='서면') else x.역명  , axis=1 )

In [21]:
data['역명'] = data.apply(lambda x : '2덕천' if (x.역번호=='233') & (x.역명=='덕천') else x.역명  , axis=1 )

In [22]:
data['역명'] = data.apply(lambda x : '3연산' if (x.역번호=='305') & (x.역명=='연산') else x.역명  , axis=1 )

In [23]:
data['역명'] = data.apply(lambda x : '3덕천' if (x.역번호=='313') & (x.역명=='덕천') else x.역명  , axis=1 )

In [24]:
data['역명'] = data.apply(lambda x : '4동래' if (x.역번호=='402') & (x.역명=='동래') else x.역명  , axis=1 )

In [25]:
#데이터 변경후 재검증 
d_check = pd.DataFrame(data.groupby(['역번호','역명','구분'])['년월일'].count())
d_check = d_check.reset_index()
#년월일 갯수가 365가 아닌 역 체크해보자
d_check[d_check['년월일']<365]

     역번호  역명  구분  년월일
190  403  수안  승차  362
214    7  수안  승차    3

In [26]:
#역번호 오류 추정 수안역
#7 -> 403  : 수안역
data['역번호'] = data.apply(lambda x : '403' if (x.역번호=='7') & (x.역명=='수안') else x.역번호  , axis=1 )

In [27]:
data[data['역번호']=='403']

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
200,2018-01-01,403,수안,승차,2,0,0,0,30,47,...,192,206,184,142,108,72,47,43,21,8
201,2018-01-01,403,수안,하차,2,0,0,0,12,42,...,141,165,169,99,53,38,44,35,25,1
424,2018-01-02,403,수안,승차,0,0,0,0,35,85,...,365,367,368,451,207,117,97,76,46,7
425,2018-01-02,403,수안,하차,0,0,0,0,18,57,...,316,259,296,353,140,92,49,35,30,10
648,2018-01-03,403,수안,승차,0,0,0,1,35,77,...,354,328,390,415,212,156,109,70,37,5
649,2018-01-03,403,수안,하차,0,0,0,0,16,56,...,337,248,316,369,180,90,55,41,17,3
872,2018-01-04,403,수안,승차,0,0,0,0,38,81,...,323,392,349,402,222,114,107,93,42,8
873,2018-01-04,403,수안,하차,0,0,0,0,20,58,...,302,254,320,393,167,80,50,36,29,4
1096,2018-01-05,403,수안,승차,0,0,0,0,34,69,...,374,391,377,417,243,132,109,97,53,9
1097,2018-01-05,403,수안,하차,0,0,0,0,21,51,...,311,267,370,414,174,91,53,45,41,2
1320,2018-01-06,403,수안,승차,0,0,0,1,28,55,...,258,273,321,226,170,114,115,60,50,11
1321,2018-01-06,403,수안,하차,0,0,0,0,11,39,...,231,229,303,219,109,65,44,36,42,8
1544,2018-01-07,403,수안,승차,0,0,0,0,20,46,...,216,210,223,154,113,73,62,51,30,5
1545,2018-01-07,403,수안,하차,0,0,0,1,15,67,...,127,165,156,109,81,51,28,27,30,3
1768,2018-01-08,403,수안,승차,0,0,0,0,26,79,...,343,312,315,435,168,130,95,61,39,13
1769,2018-01-08,403,수안,하차,0,0,0,0,12,56,...,295,199,290,375,136,80,37,26,22,4
1992,2018-01-09,403,수안,승차,0,0,0,0,36,78,...,370,333,347,438,194,139,118,91,44,12
1993,2018-01-09,403,수안,하차,0,0,0,0,23,55,...,283,222,319,387,186,92,60,40,24,4
2216,2018-01-10,403,수안,승차,0,0,0,0,35,72,...,369,368,375,428,242,153,104,80,35,6
2217,2018-01-10,403,수안,하차,0,0,0,0,26,65,...,287,243,344,404,189,95,69,37,19,7
2440,2018-01-11,403,수안,승차,0,0,0,0,35,75,...,350,335,341,405,187,135,124,87,42,5
2441,2018-01-11,403,수안,하차,0,0,0,0,16,52,...,271,207,303,361,164,84,38,36,25,1
2664,2018-01-12,403,수안,승차,0,0,0,0,35,68,...,317,341,337,425,189,117,96,92,49,7
2665,2018-01-12,403,수안,하차,0,0,0,0,18,45,...,297,225,298,406,148,82,43,38,36,7
2888,2018-01-13,403,수안,승차,0,0,0,0,26,52,...,279,255,258,226,195,123,98,87,57,11
2889,2018-01-13,403,수안,하차,0,0,0,0,8,36,...,220,216,302,239,123,75,44,28,34,5
3112,2018-01-14,403,수안,승차,0,0,0,0,25,41,...,204,253,211,185,159,97,68,51,26,8
3113,2018-01-14,403,수안,하차,0,0,0,0,17,60,...,173,166,181,105,77,54,29,38,18,5
3336,2018-01-15,403,수안,승차,0,0,0,0,40,76,...,420,360,379,435,187,131,122,95,42,8
3337,2018-01-15,403,수안,하차,0,0,0,0,18,56,...,334,267,329,395,163,75,60,33,23,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78600,2018-12-17,403,수안,승차,0,0,0,1,49,71,...,485,427,446,417,214,121,100,99,39,4
78601,2018-12-17,403,수안,하차,0,0,0,0,17,63,...,361,295,332,466,170,78,73,37,33,5
78824,2018-12-18,403,수안,승차,0,0,0,0,38,83,...,363,361,357,369,179,132,129,109,43,9
78825,2018-12-18,403,수안,하차,0,0,0,0,19,47,...,346,260,335,390,177,101,75,50,31,8
79048,2018-12-19,403,수안,승차,0,0,0,1,47,64,...,347,411,345,400,193,141,117,79,45,4
79049,2018-12-19,403,수안,하차,0,0,0,0,21,50,...,289,275,330,461,185,56,78,41,19,5
79272,2018-12-20,403,수안,승차,0,0,0,0,50,86,...,344,447,362,416,211,168,149,134,62,7
79273,2018-12-20,403,수안,하차,0,0,0,1,17,46,...,332,288,365,420,156,87,81,58,36,10
79496,2018-12-21,403,수안,승차,0,0,0,0,42,73,...,363,377,356,457,188,123,120,104,60,9
79497,2018-12-21,403,수안,하차,0,0,0,0,18,47,...,338,266,341,429,201,100,55,57,35,5
79720,2018-12-22,403,수안,승차,0,0,0,0,30,58,...,269,285,244,218,155,112,103,89,63,12
79721,2018-12-22,403,수안,하차,0,0,0,1,15,41,...,237,234,273,238,114,65,64,34,32,8
79944,2018-12-23,403,수안,승차,0,0,0,0,32,47,...,183,193,222,196,117,102,57,45,29,8
79945,2018-12-23,403,수안,하차,0,0,0,0,22,45,...,139,180,175,103,86,38,37,35,16,6
80168,2018-12-24,403,수안,승차,0,0,0,0,39,73,...,586,488,435,435,218,143,111,110,63,17
80169,2018-12-24,403,수안,하차,0,0,0,1,18,50,...,365,314,333,385,209,92,76,53,39,7
80392,2018-12-25,403,수안,승차,0,0,0,1,32,47,...,251,198,243,174,162,102,85,46,31,16
80393,2018-12-25,403,수안,하차,0,0,0,0,16,29,...,177,197,215,157,90,57,45,35,25,11
80616,2018-12-26,403,수안,승차,0,0,0,0,34,70,...,422,443,390,394,170,133,123,91,69,10
80617,2018-12-26,403,수안,하차,0,0,0,1,19,42,...,337,277,320,371,193,105,60,38,34,7
80840,2018-12-27,403,수안,승차,0,0,0,0,36,67,...,427,389,376,387,190,154,124,89,42,14
80841,2018-12-27,403,수안,하차,0,0,0,0,15,51,...,300,273,305,383,196,92,62,65,25,8
81064,2018-12-28,403,수안,승차,0,0,0,0,33,65,...,392,346,353,408,190,124,131,80,50,15
81065,2018-12-28,403,수안,하차,0,0,0,0,21,36,...,316,247,303,386,238,89,60,49,34,7
81288,2018-12-29,403,수안,승차,0,0,0,1,33,46,...,249,301,253,223,141,126,103,60,51,16
81289,2018-12-29,403,수안,하차,0,0,0,0,10,33,...,198,237,224,213,93,67,66,43,38,16
81512,2018-12-30,403,수안,승차,0,0,0,0,29,48,...,187,283,234,177,123,122,87,54,51,5
81513,2018-12-30,403,수안,하차,0,0,0,1,24,44,...,186,196,136,122,74,59,35,43,22,5
81736,2018-12-31,403,수안,승차,1,0,0,0,31,47,...,412,524,383,388,234,139,86,74,36,19
81737,2018-12-31,403,수안,하차,1,0,0,0,15,43,...,367,278,306,342,163,97,63,57,46,11

In [28]:
#데이터 변경후 재검증 
d_check = pd.DataFrame(data.groupby(['역번호','역명','구분'])['년월일'].count())
d_check = d_check.reset_index()
#년월일 갯수가 365가 아닌 역 체크해보자
d_check[d_check['년월일']<365]

Empty DataFrame
Columns: [역번호, 역명, 구분, 년월일]
Index: []

In [29]:
d_check

     역번호       역명  구분  년월일
0    100       동매  승차  365
1    100       동매  하차  365
2    101       신평  승차  365
3    101       신평  하차  365
4    102       하단  승차  365
5    102       하단  하차  365
6    103       당리  승차  365
7    103       당리  하차  365
8    104       사하  승차  365
9    104       사하  하차  365
10   105       괴정  승차  365
11   105       괴정  하차  365
12   106       대티  승차  365
13   106       대티  하차  365
14   107      서대신  승차  365
15   107      서대신  하차  365
16   108      동대신  승차  365
17   108      동대신  하차  365
18   109       토성  승차  365
19   109       토성  하차  365
20   110      자갈치  승차  365
21   110      자갈치  하차  365
22   111       남포  승차  365
23   111       남포  하차  365
24   112       중앙  승차  365
25   112       중앙  하차  365
26   113      부산역  승차  365
27   113      부산역  하차  365
28   114       초량  승차  365
29   114       초량  하차  365
..   ...      ...  ..  ...
194  405      충렬사  승차  365
195  405      충렬사  하차  365
196  406       명장  승차  365
197  406       명장  하차  365
198  407       서동  승차  365
199  407       서동  하차  365
200  408       금사  승차  365
201  408       금사  하차  365
202  409    반여농산물  승차  365
203  409    반여농산물  하차  365
204  410       석대  승차  365
205  410       석대  하차  365
206  411      영산대  승차  365
207  411      영산대  하차  365
208  412     동부산대  승차  365
209  412     동부산대  하차  365
210  413       고촌  승차  365
211  413       고촌  하차  365
212  414       안평  승차  365
213  414       안평  하차  365
214   95  다대포해수욕장  승차  365
215   95  다대포해수욕장  하차  365
216   96     다대포항  승차  365
217   96     다대포항  하차  365
218   97       낫개  승차  365
219   97       낫개  하차  365
220   98      신장림  승차  365
221   98      신장림  하차  365
222   99       장림  승차  365
223   99       장림  하차  365

[224 rows x 4 columns]

In [30]:
data.head()

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,2018-01-01,95,다대포해수욕장,승차,0,0,0,12,37,63,...,430,361,398,221,129,110,87,59,12,6
1,2018-01-01,95,다대포해수욕장,하차,12,7,0,1,53,1392,...,286,294,319,182,179,139,134,89,76,48
2,2018-01-01,96,다대포항,승차,1,1,0,4,44,70,...,182,179,165,129,90,63,54,27,11,2
3,2018-01-01,96,다대포항,하차,11,1,0,0,11,62,...,186,193,191,198,155,143,128,115,68,42
4,2018-01-01,97,낫개,승차,1,1,0,9,78,159,...,248,274,250,171,146,61,78,65,22,1

In [31]:
data.tail()

,년월일,역번호,역명,구분,1시,2시,3시,4시,5시,6시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
81755,2018-12-31,412,동부산대,하차,16,3,0,2,3,37,...,239,272,308,266,185,117,95,89,85,50
81756,2018-12-31,413,고촌,승차,0,0,0,3,16,23,...,49,46,55,37,17,14,14,16,9,0
81757,2018-12-31,413,고촌,하차,0,1,0,0,0,23,...,43,33,43,53,35,20,17,16,8,4
81758,2018-12-31,414,안평,승차,0,0,0,2,34,55,...,144,148,153,159,63,43,55,25,9,3
81759,2018-12-31,414,안평,하차,7,0,0,0,3,46,...,124,172,147,222,126,77,75,64,42,23

In [32]:
#정제된 데이터 파일로 저장 :excel은 근데 너무 오래 걸림
data.to_excel('./data2/부산일자별도시철도이용객수_v1.xlsx')

In [37]:
#정제된 데이터 파일로 저장 : csv로 빠르게 인덱스 없이! 한글깨짐 현상 때문에 encoding필요 
data.to_csv('./data2/부산일자별도시철도이용객수_v1.csv',encoding='ms949',index=False)

## 여기까지 데이터 정제, 출/퇴근 데이터는 v2부터